<h2>All <%= schools.size %></h2>

<ul>
  <% schools.each do |school| %>
    <li><%= school.school_name %></li>
  <% end %>
</ul>

<%= link_to('< Prev Page', schools_path(page: page - 1)) if page > 0 %>
<%= link_to("More Page >", schools_path(page: page + 1)) unless schools.size <= 24 %>
